// Body
$body-bg: #f8fafc;

// Images
$default-image: '/storage/images/clear-day.jpg';

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$cyan: #6cb2eb;
$green: #38c172;
$indigo: #6574cd;
$orange: #f6993f;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$teal: #4dc0b5;
$white: #ffffff;
$yellow: #ffed4a;
